.whatsapp-page {
    display: flex;
    height: 100vh;
    width: 100%;
}

/* Sidebar fijo */
.sidebar {
    width: 55px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #f8f9fa;
    z-index: 100; /* Mantiene el sidebar sobre otros elementos */
}

/* WhatsApp Menu fijo */
.whatsapp-menu-container {
    width: 250px;  /* Ajuste del ancho */
    height: 100vh;
    position: fixed;
    left: 55px;  /* Justo al lado del Sidebar */
    top: 0;  /* Asegura que inicie desde la parte superior */
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Evitar que los elementos suban */
    z-index: 99;
}

/* Ajuste del contenido */
.content {
    margin-left: 305px; /* 55px (Sidebar) + 250px (WhatsAppMenu) */
    width: calc(100% - 305px);
    overflow-x: hidden;
    padding: 20px;
}
