.topbar {
    background-color: #e7e7e8;
    padding: 5px 10px;
}

.small-text {
    font-size: 12px; /* Tamaño reducido */
    color: #333;
}

.small-btn {
    font-size: 12px;  /* Botones más pequeños */
    padding: 5px 10px;
}

/* Estilos para el avatar o iniciales del usuario */
.user-initials {
    width: 30px;
    height: 30px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
}

/* Ajuste para el botón de perfil */
#dropdown-profile {
    display: flex;
    align-items: center;
}

.big-text {
    font-size: 0.875rem;
    font-weight: 500;
}

.text-danger {
    color: #ff4d6d !important; /* rojo más llamativo */
}